/* CSS comments look like this.
  6 You can use them to take notes right inline */


  * {
    border: 1px dashed yellow;
  }



  body {
    font-size: 16px;
    color: cornflower blue;
    background-color: gray
  }
  p {
    color: DarkSeaGreen;
  }

  .first-article {
    width: 75%;
  }

  .second-paragraph {
    width: 75%;
    color: red;
  }

  .main-paragraph {
    width: 200px;
    text-align: justify;
    padding: 20px;
    border: 5px solid blue;
    margin: 25px;
  }


  img {
    width: 30%;
    border: 3px rounded blue;
    border-radius: 1rem;
  }

  p {
    color: #670A8A;
  }
